@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Noto Sans Multani', sans-serif;
}

body {
  margin: 0;
  font-family: 'Noto Sans Multani', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Sans Multani', sans-serif;
}